.camp-post-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.camp-post-thumbnail img.attachment-post-thumbnail {
  display: block;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

/* Overlay element */
.camp-post-thumbnail .thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Zoom icon styles */
.camp-post-thumbnail .zoom-icon {
  color: white;
  font-size: 32px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: rotate(90deg);
}

/* On hover, show the overlay and icon */
.camp-post-thumbnail:hover .thumbnail-overlay {
  opacity: 1;
}

.camp-post-thumbnail:hover .zoom-icon {
  opacity: 1;
}

/* Optional: Image zoom effect on hover */
/* .camp-post-thumbnail:hover img.attachment-post-thumbnail {
  transform: scale(1.05);
} */

.camp-post-title {
  font-family: "Roboto", sans-serif;
  font-size: 19.2px;
  line-height: 23.04px;
  font-weight: 600;
  color: #482b06;
  margin: 20px 0;
}

.camp-post-excerpt {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #2b2b2b;
  text-align: justify;
}

.camp-read-more {
  border: 0px;
  border-radius: 10px;
  background-color: #143a03;
  display: block;
  width: 150px;
  margin-top: 5px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 9px 14px;
  color: #fff !important;
  float: none !important;
  text-align: center;
  font-size: 16px !important;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.camp-read-more:hover {
  background-color: #8c6235;
  color: #fff !important;
  text-decoration: none !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#camp-pagination ul.page-numbers {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  /* gap: 1rem; */
}

#camp-pagination ul li .page-numbers {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: 1px solid #bfbfbf;
  margin: 2px;
  border-radius: 5px;
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  color: #8c6235;
}

#camp-pagination ul li .page-numbers:hover,
#camp-pagination ul li span.current {
  background: #8c6235;
  border-color: #000000;
  color: #fff;
}

#camp-pagination ul .page-count {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: 1px solid #bfbfbf;
  margin-right: 2px;
  margin-top: -8px;
  border-radius: 5px;
  text-decoration: none !important;
  padding: 8px 10px;
  font-weight: 600;
  color: #8c6235;
}

/* Style for the loading overlay */
/* Style for the loading overlay */
#posts-loop-overlay {
  position: fixed; /* Change to fixed to cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

#posts-wrapper {
  position: relative;
}

#posts-loop-overlay.active {
  display: flex; /* Show the overlay when active */
}
